# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = leihao
#	email = leihao@2015-288deMacBook-Pro.local
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
